<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Angular Simple</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div id="app" ng-app="validationApp">
            <div ng-controller="mainController">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <!-- FORM ============ -->
                            
                            <form name="userForm" ng-submit="submitForm()" novalidate>
                                <!-- NAME -->
                                <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
                                    <label>Name</label>
                                    <input type="text" name="name" class="form-control" ng-model="user.name" required>
                                    <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">You name is required.</p>
                                </div>
                                
                                <!-- USERNAME -->
                                <div class="form-group" ng-class="{ 'has-error' : userForm.username.$invalid && !userForm.username.$pristine }">
                                    <label>Username</label>
                                    <input type="text" name="username" class="form-control" ng-model="user.username" ng-minlength="3" ng-maxlength="8">
                                    <p ng-show="userForm.username.$error.minlength" class="help-block">Username is too short.</p>
                                    <p ng-show="userForm.username.$error.maxlength" class="help-block">Username is too long.</p>
                                </div>
                                
                                <!-- EMAIL -->
                                <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
                                    <label>Email</label>
                                    <input type="email" name="email" class="form-control" ng-model="user.email">
                                    <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
                                </div>
                                
                                <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid">Submit</button>
                                
                            </form>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <script src="main.js"></script>
    </body>
</html>